:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 100%, 100%);
  --blackColor: hsl(0, 0, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 197%);
}

.navBarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.navBarSection .header .logoDiv .logo {
  color: var(--whiteColor);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navBarSection .header .logoDiv .logo .icon {
  font-size: 30px;
  color: var(--PrimaryColor);
  margin-right: 5px;
}
.navBarSection .header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.navBarSection .header .toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
@media screen and (max-width: 768px) {
  .navBarSection .header .navBar {
    background: var(--whiteColor);
    position: absolute;
    top: 0;
    left: -100%;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.9);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navBarSection .header .navBar .navList {
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
  .navBarSection .header .navBar .navList .navItem {
    padding: 0.5rem 0;
  }
  .navBarSection .header .navBar .navList .navItem .navLink {
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 600;
  }
  .navBarSection .header .navBar .navList .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .headerBtns {
    flex-direction: column;
  }
  .navBarSection .header .navBar .headerBtns .btn {
    margin-top: 1rem;
  }
  .navBarSection .header .navBar .headerBtns .btn:hover {
    color: var(--whiteColor);
    background-color: var(--HoverColor);
  }
  .navBarSection .header .navBar .headerBtns .loginBtn {
    color: var(--PrimaryColor);
    background-color: transparent;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navBarSection .header .active {
    left: 0;
  }
}
.navBarSection .header.activeHeader {
  background-color: var(--inputColor);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.3);
}
.navBarSection .header.activeHeader .navBar .navList .navItem .navLink {
  color: var(--PrimaryColor);
}
.navBarSection .header.activeHeader .navBar .navList .navItem .navLink:hover {
  color: var(--HoverColor);
}
.navBarSection .header.activeHeader .navBar .btn.loginBtn {
  color: var(--PrimaryColor);
}
.navBarSection .header.activeHeader .navBar .btn.loginBtn:hover {
  color: var(--whiteColor);
}
.navBarSection .header.activeHeader .toggleNavbar .icon {
  color: var(--PrimaryColor);
}
.navBarSection .header.activeHeader .logoDiv .logo {
  color: var(--blackColor);
}

/* MEDIA QUERIES =======================>  */
@media screen and (min-width: 769px) {
  .navBarSection .header {
    padding: 1.5rem 2rem;
  }
  .navBarSection .header .toggleNavbar,
  .navBarSection .header .closeNavbar {
    display: none;
  }
  .navBarSection .header .navBar .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navBarSection .header .navBar .navList .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .navBarSection .header .navBar .navList .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navList .btn {
    margin-left: 1rem;
    color: var(--whiteColor);
    font-weight: 500;
  }
  .navBarSection .header .navBar .navList .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navList .loginBtn:hover {
    background: var(--PrimaryColor);
  }
}
@media screen and (min-width: 992px) {
  .navBarSection .header .navBar .navList .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .navBarSection .header {
    padding: 1rem 0.5rem;
  }
}/*# sourceMappingURL=Navbar.css.map */