@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}

/* Colors */

:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 100%, 100%);
  --blackColor: hsl(0, 0, 18%);
  --teaxtColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0, 93%);
  --greyBg: hsl(0, 0, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 197%);
}

/* Default styles */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.4rem 1.5rem;
  font-weight: 500;
  color: var(--whiteColor);
  background-color: var(--PrimaryColor);
  border: none;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--HoverColor);
}

.secIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitle {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.secIntro p {
  font-size: 13px;
  color: var(--teaxtColor);
  font-weight: 500;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

/* Page design */

::selection {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--greyBg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--PrimaryColor);
  border-radius: 10px;
  cursor: pointer;
}

/*MEDIA QUERIES =======================>  */

@media screen and (min-width: 576px) {
  .mainContent,
  .singlePost {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .mainContent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 75%;
    margin: auto;
  }
  .section {
    padding: 5rem 0 3rem;
  }
  .secIntro {
    margin: 0 auto 3rem;
  }
  .secIntro .secTitle {
    font-size: 2.2rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  .secIntro p {
    font-size: 15px;
  }
}

@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}
